{{> head}}
{{> navbar}}

<div class="row">
<div class="col-md-8">
<h1>About</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam quo expedita neque velit iusto reiciendis veniam quos illum molestias laudantium nisi, iure debitis atque tempore, fugit magnam maiores laboriosam unde.</p>
</div>
<div class="col-md-4">
<img src="assets/img/milo.png" class="img-thumbnail">
</div>
</div>
{{> footer }}